// Importações
@import "responsive";
@import "base";
@import "theme";

.introduce {
    background: var(--bgGradient);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

ul.navbar__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    li.navbar__nav--item {
        display: flex;
        flex: 1 2 100px;

        list-style: none;
        padding: 15px 30px;
        display: block;

        &:last-child {
            display: flex;
            justify-content: flex-end;
            align-self: center;
        }

        a {
            text-decoration: none;
            color: var(--textVariant);

            &:hover {
                border-bottom: 1px solid var(--textVariant);
                color: var(--textVariant);
            }

            svg {
                fill: var(--textDark);
            }
        }
    }
}

// Main

main {
    display: flex;
    flex-direction: row;
    max-width: $max__width;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;

    padding-bottom: 3rem;

    .intro__text {
        color: var(--textDark);
        padding: 40px;

        max-width: 580px;
        margin: 0 auto;
        text-align: justify;

        cite {
            font-style: italic;
        }

        .introduce__title {
            color: var(--textDark);
            line-height: 2.2rem;
            padding-bottom: 3rem;
            text-align: left;

            &::after {
                content: "";
                display: block;
                border: 2px solid var(--textDark);
                width: 68px;
                margin-top: 1.3rem;
            }

            h3,
            h4 {
                font-weight: 700;
                font-size: 2rem;
            }
        }
    }

    .sidebar {
        margin: 0 auto;

        img {
            width: 300px;
            border-radius: 100%;
            display: block;
            max-width: 100%;
        }

        ul.sidebar__items {
            display: flex;
            justify-content: space-around;
            align-self: center;
            padding-top: 1rem;

            li {
                list-style: none;
            }

            svg {
                width: 35px;
                height: 35px;
                fill: var(--textDark);
            }
        }
    }
}

.arrow__area {
    display: flex;
    justify-content: center;
    padding: 2rem;

    svg {
        fill: var(--textVariant);
        animation: bounce 3s infinite;
    }

    @keyframes bounce {
        0%,
        100%,
        20%,
        50%,
        80% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }

    @keyframes arrowAnimate {
        0% {
            opacity: 0;
            transform: translate(0px, -20px);
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0.1;
            transform: translate(0px, 20px);
        }
    }
}

// Tech

.tech {
    background: var(--bg);
    padding: 5rem;
    color: var(--textPrimary);

    .content {
        max-width: $max__width;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;

        img {
            max-width: 100%;
            width: 280px;
        }

        .content__text {
            padding: 0 3rem;

            h1 {
                font-size: 1.5rem;
            }
        }

        .content__item ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            max-width: 800px;
            gap: 25px;

            svg {
                width: 60px;
                fill: var(--textPrimary);
            }

            li {
                list-style: none;
                text-align: center;
            }
        }
    }
}
