/* Variables */
$primary: #0e0f0f;
$primary_: #3d3e40;

$white: #efefef;
$neutral: #7d7f82;

$gradient: 135deg, #e6e9f0 0%, #eef1f5 100%;

$font: "Josefin Sans";

$mobile__width: 375px;
$desktop__width: 992px;

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

html {
  font-family: $font, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

body {
  background: linear-gradient($gradient);
  background-repeat: no-repeat;
}
